<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5PyrpP5PZGAxK9qvLF1UEIxHTALFLIhI</string>
	<key>GCM_SENDER_ID</key>
	<string>180660252180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.coderave.timeline-updater-admin-app.macos</string>
	<key>PROJECT_ID</key>
	<string>timeline-updater-admin-app</string>
	<key>STORAGE_BUCKET</key>
	<string>timeline-updater-admin-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180660252180:ios:d260c6fe8ab9a12484c101</string>
</dict>
</plist>